<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>user_shiro</display-name>

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.xuan.security.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.xuan.security.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
        <!--<servlet-name>runtain</servlet-name>-->
        <!--<jsp-file>/WEB-INF/jsp/loginSucess.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>runtain</servlet-name>-->
        <!--<url-pattern>/ttt</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
