<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:component-scan base-package="com.xuan.study"/>
    <bean name="bean,noDefaultConstructorBean" class="com.xuan.study.NoDefaultConstructorBean">
        <!--调用有参构造器必须要注入参数-->
        <constructor-arg value="test"/>
    </bean>
    <bean name="myPropertyBean" class="com.xuan.study.MyPropertyBean"/>
    <bean id="myBean" class="com.xuan.study.MyBeanFactory" factory-method="getInstance">

        <constructor-arg value="test"/>
        <!--setter方法注入可以与工厂方法 创建bean连用，且注入的属性是bean的属性而不是工厂类的属性 -->
        <property name="myPropertyBean" ref="myPropertyBean"/>
    </bean>

</beans>